<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./partials/head.ejs")%>
</head>
<body>
    <%-include("./partials/nav.ejs")%>

    <form action="/blogs" method="POST">
        <label for="name">Title</label>
        <input type="text" name="title" id="name">
        <label for="name">Snippet</label>
        <input type="text" name="snippet" id="snippet">
        <label for="info">Body</label>
        <textarea type="textarea" name="body" id="body"></textarea>
        <button>Submit</button>
    </form>
</body>
</html>