* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Taviraj', serif;
}
body {
    height: 100vh;
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    color: #262626
}

nav {
    border-bottom: 3px solid rgb(211, 211, 211);
    box-shadow: 0 4px 2px -2px rgb(233, 229, 229);
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}

nav h1 {
    font-size: 3rem;
    color: rgb(238, 47, 146)
}

.nav-div {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-div a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    color: #262626;
}

.nav-div a:hover,
.nav-div a:focus {
    color: rgb(238, 47, 146);
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 3em;
    margin: 0 auto;
}

form input,
form textarea {
    margin-bottom: 1em;
}

form input,
form button {
    padding: 1em 2em
}

form button {
    background-color: rgb(238, 47, 146);
    color: white;
    font-family: inherit;
    font-weight: 700;
    border: none;
}

form button:hover {
    background-color: rgb(231, 129, 181);
}
form textarea {
    padding: 5em;
    resize: none;
}

.all-blogs {
    padding-top: 3em;
}

.all-blogs h1 {
    padding-bottom: 1em;
}

.all-blogs p {
    padding-bottom: 3em;
}