* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Taviraj', serif;
}
body {
    background-color: rgb(224, 243, 225);
    border: 3px solid pink;
    height: 100vh;
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}